<div class="container">
    <!--<blockquote class="blockquote text-right" style="font-size: 250%;">
        <p class="mb-0">Todas as vossas coisas sejam feitas com amor.</p>
        <footer class="blockquote-footer">1 Coríntios 16:14</footer>
    </blockquote>-->
    <blockquote class="blockquote text-right">
        <footer>
            <img src="/img/castelo_hogwarts.png" alt="castelo" width="500" height="500" class="castelo img-fluid d-inline-block align-text-bottom">
            <p class="endereco">Endereço para entrega dos presentes:</p>
            <p class="endereco">Rua João Davoli, 111 - Saúde - Mogi-Mirim/SP - CEP:13800-451</p>
            <p class="textofooter">Casamento Aline e Diego</p>
        </footer>
    </blockquote>
    
</div>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>