<div class="container">
    <blockquote class="blockquote text-right" style="font-size: 250%;">
        <p class="mb-0">Todas as vossas coisas sejam feitas com amor.</p>
        <footer class="blockquote-footer">1 Coríntios 16:14</footer>
    </blockquote>
</div>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>