<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--FAVICONS-->
    <link rel="shortcut icon" href="/img/ios/tag_icon.png" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/ios/tag_icon.png">
    <link rel="icon" type="image/x-icon" href="/img/ios/tag_icon.png">
    <link rel="icon" href="/img/ios/tag_icon.png" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Aline e Diego</title>
</head>
<body>