<nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
    <a class="navbar-brand" href="/">
        <img src="img/tag_icon.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-success me-4" href="/convite">Convite dos Noivos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-success me-4" href="/">Lista de Presentes</a>
        </li>
    </ul>
</nav>