<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto p-5">
            <h1 style="font-size: 300%;">O nosso muito obrigado! Por contribuir nesta nova etapa de nossas vidas!</h1>
            <h3 style="font-size: 180%;"> - Aline e Diego</h3>
        </div>
    </div>
</div>
<%- include('modals/modals.ejs') %>
<%- include('partials/footer.ejs') %>