body {
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('/img/background.png');
    opacity: 0.85;
}

.navbar-brand, .nav-link, blockquote, h1, h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: x-large;
}
.nav-item {
    padding: 10% 0% 10% 10%;
}

.navbar {
    background-color: #0ABAB5;
}

.endereco {
    font-size: 150%;
    color: #0ABAB5;
}

.textofooter {
    color: #0ABAB5;
    font-size: 100%;
}

.centered-received {
    position: absolute;
    top: 25%;
    left: 16%;
    transform: rotate(45deg);
    font-family: sans-serif;
    color: #0ABAB5;
}